<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>A Simple Job Description and Resume Matching Tool</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
  </head>

  <body ng-app="app" layout="row" ng-controller="loginController" >

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
      <img src="assets/img/wow_logo.png" width="75" style="margin-top:5px; margin-bottom:5px; margin-left:auto; margin-right:auto;">
    </md-toolbar>

<md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Login</h2>
    </div>

</md-toolbar>
    <md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column"  >
    <md-input-container>
      <label>Username</label>
      <input ng-model="loginData.userName">
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input ng-model="loginData.password" type="password">

    </md-input-container>



  </md-content>
  <md-button class="md-raised" ng-click="login()"> Login </md-button>
  <div data-ng-hide="message == ''" style="margin-top:20px;">
  {{message}}
  </div>
  </md-sidenav>


  <div  flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-whiteframe-z1" style="height:86px;">
      <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>A Simple Job Description and Resume Matching Tool</h1>
    </md-toolbar>

  <div ui-view>


  </div>




  </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

    <script src="./src/app.js"></script>
    <script src="./src/login/auth/authService.js"></script>
    <script src="./src/login/auth/authInterceptorService.js"></script>

    <script src="./src/users/Users.js"></script>
    <script src="./src/login/LoginController.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>

    <script src="./bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>

    <script type="text/javascript">



    </script>

  </body>
</html>
