
<img src="/assets/img/wow_header_2.png" style="width:100%; height:auto;" />


<md-content class="md-padding">

    <md-card class="md-flex">

      <md-card-content>


            <div>
               <div style="padding:10px;">
                   <h2>A Smarter Job Search – Score your Next Job!</h2>
                   Take the “Search” out of your job search. Let Jobminx do the searching for you. You’re invited to try a new job ranking system that calculates your skills match for a specific job. Stosearching.                    Spend your time applying to jobs with the highest resume match score. We’ll even help you make your resume smarter.



                </div>
            </div>



             <md-button class="md-raised md-warn">More Info</md-button>




      </md-card-content>


    </md-card>


     <md-card>

        <md-card-content>
          <div>
                <div style="padding:20px;">
                <h2>Make Your Resume Smarter – Get the Interview!</h2>
                    Don’t make the mistake of writing a resume for a human instead of a machine. These days, companies use resume screening systems to screen candidates by ranking resumes for job match. Now, yocan                     rank your resume for a particular job and get instant feedback about the keywords and phrases you need to make your resume smarter and machine friendly.

          </div>

         <md-button class="md-raised md-warn">More Info</md-button>
        </md-card-content>


    </md-card>

  </md-content>

</div>
